server:
  port: 3000
  log_level: 4

adapters:
  my_pg1:
    connector: postgres
    connection_string: "postgresql://demo:demo@localhost:5432/demo?sslmode=disable"
  my_pg2:
    connector: postgres
    connection_string: "postgresql://demo:demo@localhost:5432/demo?sslmode=disable"

queries:
  get-user-by-id:
    use: my_pg1
    description: "Get a user by id"
    statement: |
      SELECT * FROM users WHERE id = {{ inputs.userId }}
    inputs:
      userId:
        type: string
        description: "The id of the user"
    data:
      userId:
        type: int
        description: "The id of the user"
        map_to: user.id
