{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false
}